@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: "roboto";
}

body {
    margin:0;
}

header {
    background: rgb(33, 134, 218);
    margin-bottom: 100px;
}

main {
    width: 70%;
    margin: auto;
}

#hovedside {
    display: flex;
    flex-wrap: wrap;
}

#hovedside > article {
    flex-basis: 300px;
    text-align: center;
}

#hovedside > article:first-of-type {
    flex-basis: 100%;
}

#hovedside img {
    max-width: 400px;
    max-height: 200px;
}

#shopping-cart-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#shopping-cart-main section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#shopping-cart-main section > span{
    align-self: flex-end;
    font-weight: bold;
    border-bottom: double black 1px;
}

#product-images {
    display: flex;
    gap: 15px;
}

#product-images img {
    background-color: red;
    width: 50px;
    height: 50px;
}

#product-spec {
    display: grid;
    background-color: rgb(178, 207, 231);
    grid-template-columns: 150px 1fr;
}

#product-page {
    display: flex;
}

#product-page > div {
    flex-grow: 1;
}

#product-page > div > img {
    max-height: 400px;
}

#buy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: rgb(230,230,230);
}

#buy > a {
    align-self: center;
    background-color: rgb(33, 134, 218);
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 23px;
}

#buy section {
    align-self: center;
}

#buy img {
    width: 40px;
}

#buy > p {
    font-style: italic;
}

#shopping-cart-main article {
    flex-grow: 0;
    display: flex;
    align-items: center;
    height: 150px;
    gap: 50px;
}

#shopping-cart-main article {
    border-bottom: 1px black solid;
}

#shopping-cart-main img {
    width: 150px;
}

#shopping-cart-main span:first-of-type {
    flex-grow: 1;
}

article > input {
    width: 40px;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 70px;
}

.container :first-child {
    margin-right: auto;
}

img.logo {
    height: 60px;
}



figure {
    position: relative;
    margin: 0;
}

figure img {
    max-width: 300px;
}

figure span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: black;
    color: white;
}

form {
    display: grid;
    grid-template-columns: 50px 150px;
    gap: 8px;
}

input[placeholder=Navn],
input[placeholder=Adresse],
input[placeholder=Kortnummer],
button[type=submit] {
    grid-column: span 2;
}